* {
    margin: 0%;
    padding: 0%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f2ef;
    
    z-index: 999;
}


.header-logo{
    height: 40px;
    object-fit: contain;
    
}


.header-section{
    color: white;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0%;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 0.9px solid whitesmoke;
    display: flex;
    z-index: 999;
    
    
}
.left-header{
    display: flex;
}
.right-header{
  display: flex;
}
.search-input{
    padding: 5px;
    margin-left: 10px;
    background-color: grey;
    opacity: 0.3;
    border-radius: 4px;
    
    
}

.input{
   
    border: none;
    outline: none;
    background: none;
    

    
}

.search-icon{
    margin-top: 3px;
    color: black;
}

.header-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    color: grey;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.header-options:hover{
    color: black;
    cursor: pointer;
}




/* main section */



.main-section{
    margin-top: 15px;
    display: flex;
    width: 100%;

}

/* SIDE BAR SECTION */

.sidebar{
    position: sticky;
    margin-left: 50px;
    flex: 0.2;
    

}
.sidebar-top{
    
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10PX;
    border: 0.1px solid lightgrey;
   
   
    text-align: center;
}
.sidebar-art{
    
    width: 100%;
    height: 60px;
    object-fit: cover;
    
    margin-bottom: -30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile-image{
    object-fit: contain;
    border-radius: 50%;
    height: 70px;
}
.heading-name{
    
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 9px;
}
.desc-sidebar{
    font-size: small;
    opacity: 60%;
    font-weight: 500;
    
}
.connections{
    padding-right: 10px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10PX;
    border: 0.1px solid lightgrey;
   margin-top: 10px;
   padding-top: 10px;
    padding-left: 12px;
}
.stats{
    color: blue;
    font-size: small;
    font-weight: 500;
}
.stats-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.recent{
    cursor: pointer;
    padding-right: 10px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10PX;
    border: 0.1px solid lightgrey;
   margin-top: 10px;
   padding-top: 10px;
    padding-left: 12px;
}
.recents{
   
    padding-right: 10px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10PX;
    border: 0.1px solid lightgrey;
   margin-top: 10px;
   padding-top: 10px;
    padding-left: 12px;
}
.recent:hover{
    background-color: whitesmoke;
    color: black;
}



/* FEED SECTION starts from here */

.main-feed-section{
    margin: 0 20px;
    flex: 0.6;
    

}
.input-section{
    display: flex;
    
}
.profile-image-feed{
    object-fit: contain;
    border-radius: 50%;
    height: 50px;
}
.feed-post-section{
    
    padding-right: 5px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10PX;
    border: 0.1px solid lightgrey;
   margin-top: 5px;
   padding-top: 10px;
    padding-left: 12px;
}
.recent-feed{
    margin-left: 10px;
    cursor: pointer;
    
    border-radius: 30px;
    background-color: white;
    padding-bottom:0PX;
    border: 0.2px solid black;
   margin-top: 5px;
   padding-top: 10px;
    padding-left: 20px;
    flex: 1;
    margin-right: 15px;
    
    
}
.recent-feed:hover{
    background-color: whitesmoke;
}
.post{
    display: flex;
    flex-direction: column;
}
.post-options{
    margin-top: 20px;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}
.post-logo{
    
    display: flex;
}
.option-icon{
    margin-right: 10px;
}
.post-main{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    border: 0.1px solid lightgrey;
}
.post-top{
    display: flex;
}
.feed-interaction-icons{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.like-label{
    font-weight: 400;
}
.post-header-name{
    margin-left: 15px;
}
.post-messages{
    margin: 20px 10px;
}
.icon-box{
    padding: 10px;
    display: flex;

}
.icon-box:hover{
    padding: 11px;
    background-color: whitesmoke;
}
.right-sidebar{
    flex: 0.2;
    margin-top: 5px;
    margin-right: 10px;
}
.widgets-header{
    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid lightgrey;
}

.row{
    align-items: center;
    display: flex;
}
.dot{
    margin-right: 5px;
}
.article-desc{
    margin-left: 10px;
}
.article:hover{
    cursor: pointer;
    margin: 1px;
    border-radius: 10px;
    padding: 4px;
    background-color: whitesmoke;
}